# OS and Logs
**/.DS_Store
**/Thumbs.db
**/*.log
**/*.log.gz

# Dependency directories
**/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
**/*.tgz

# Yarn Integrity file
.yarn-integrity

# Generate output
**/coverage/
**/dist/

# Eslint
**/.eslintcache
**/eslint-report.json
