header {
  margin-bottom: 2em;
}

footer {
  text-align: center;
  margin-top: 2em;
}

.busy button {
  display: none;
}

.CodeMirror {
  margin: 1em;
  border: 1px solid #2196f3;
}

textarea {
  border: 1px solid #2196f3;
  margin: 0.5em auto 1em;
  padding: 0.35em 0.5em;
  min-height: 12em;
}

.input-field {
  display: inline-block;
  margin-right: 1em;
  max-width: 8em;
}

.card-panel {
  margin-left: auto;
  margin-right: auto;
}


#clear-output {
  display: none;
}
